@import 'src/assets/styles/variables'

#file-uploader
  display none

.file-block
  display inline-block
  float left

.uploading-bar
  width 322px
  height 26px
  border 1px solid $light-gray
  pb-border-radius 4px
  margin-right 25px

.bar-progress
  height 26px
  background $light-blue
  overflow hidden
  transition-property width
  transition-timing-function linear

  &__text
    color $white
    height 26px
    margin-left 15px
    line-height 26px
    font-size 14px

.file-error
  height 16px
  line-height 16px
  font-size 12px
  color $asorted-red
