<input
  id="file-uploader"
  type="file"
  [accept]="acceptTypes"
  (change)="handleUpload($event)"
  #fileSelector
/>
<div class="file-block">
  <div class="uploading-bar">
    <div
      class="bar-progress"
      [ngStyle]="{
        width: percentDone + '%',
        'transition-duration': transitionDuration + 's'
      }"
    >
      <div class="bar-progress__text">File successfully uploaded!</div>
    </div>
  </div>
  <p class="file-error">{{ errorMessage }}</p>
</div>

<button
  class="btn btn-primary"
  (click)="openFilePicker()"
  [disabled]="disabled"
>
  Add
</button>
