@import 'src/assets/styles/variables'

#file-uploader
  display none

#file-block
  display inline-block
  float left
  margin-right 25px

#upload-input
  width 320px

#error-block
  height 16px

.file-error
  line-height 16px
  font-size 12px
  color $asorted-red
