@import 'src/assets/styles/variables'

#file-uploader
  display none

.file-block
  display inline-block
  float left

.file-name
  width 322px
  height 26px
  border 1px solid $light-gray
  pb-border-radius 4px
  margin-right 25px
  line-height 24px
  padding 0 10px
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
  font-size 14px

.file-error
  height 16px
  line-height 16px
  font-size 12px
  color $asorted-red
