@import 'src/assets/styles/variables.styl'

#page-title
  margin-top 76px
  font-weight 400
  font-style normal
  font-size 20px
  color $light-gray
  padding-bottom 12px
  border-bottom 1px solid $light-gray

.action-row
  margin-top 25px
  flexbox(flex, row, wrap, space-between, flex-start)

.label
  font-size 10px
  line-height 14px

.actions-item
  flexbox(flex, row, wrap, space-between, flex-start)

#uploader
  margin-right 75px

.home-btn
  margin-top 14px

#board-selector
  margin-right 40px

#photos-container
  flexbox(flex, row, wrap, flex-start, flex-start)

#save-btn
  margin-left 30px
