@import 'src/assets/styles/variables.styl'

#page-title
  margin-top 76px
  font-weight 400
  font-style normal
  font-size 20px
  color $light-gray
  padding-bottom 12px
  border-bottom 1px solid $light-gray

.action-row
  margin-top 25px
  display flex
  flex-direction row
  justify-content space-between

.label
  font-size 10px
  line-height 14px

.actions-item
  display flex
  flex-direction row

#uploader
  margin-right 75px

.home-btn
  margin-top 14px

#board-selector
  margin-right 40px
