<div class="container">
  <h1 id="page-title">Photo Board</h1>
  <div class="action-row">
    <div class="actions-item">
      <div id="uploader">
        <p class="label">Add image to the board</p>
        <pb-file-uploader [disabled]="!existingBoards"></pb-file-uploader>
      </div>
      <button class="btn btn-secondary home-btn" [disabled]="!existingBoards">
        Run Tagging API
      </button>
    </div>

    <div class="actions-item">
      <div id="board-selector">
        <p class="label">Add image to the board</p>
        <select class="dropdown" (change)="selectBoard()">
          <option disabled>Please create a board</option>
        </select>
      </div>
      <button class="btn btn-secondary home-btn" (click)="openBoardModal()">
        Create a new board
      </button>
    </div>
  </div>
</div>

<pb-modal title="Create a new board" #createBoardModal>
  <pb-board-form></pb-board-form>
</pb-modal>
