@import 'src/assets/styles/variables.styl'

#page-title
  margin-top 76px
  font-weight 400
  font-style normal
  font-size 20px
  color $light-gray
  padding-bottom 12px
  border-bottom 1px solid $light-gray

.action-row
  margin-top 25px

.label
  font-size 10px
  line-height 14px
