.photo
  margin-right 25px
  margin-top 25px

.no-margin
  margin-right 0px

.tags
  font-size 8px
  line-height 9px
  height 9px
  margin-top 3px
  font-weight 400
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
